{% extends 'blog/base.html' %}

{% comment %} 追加するblockタグは base.html ファイル中のタグにマッチしてほしいですよね。
 また、blockタグにはcontentブロックに属するすべてのコードを含めたいですよね。
 そうするには、すべてを {% block content %} と {% endblock %} の間に入れてあげればよいです。 {% endcomment %}
{% block content %}
  {% for post in posts %}
    <div class="post">
      <div class="date">
        <p>published: {{ post.published_date }}</p>
      </div>
      <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
      {% comment %}  |linebreaksbr はpostのテキスト中の改行を段落に変換するフィルタに通すという意味 {% endcomment %}
      <p>{{ post.text|linebreaksbr }}</p>
    </div>
  {% endfor %}
{% endblock %}
